@import "variables";
body {
	background-color: $body-color;
	color: $font-color;
	font-size: $f6;
	font-family: "Amaranth", sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}



.header {
	float: left;
	margin: 0px!important;
	width: 100%!important;
	height: 75px;
	color: #fff;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	top: 0;
	transition: 0.3s;
	z-index: 2;
	background-image: url(https://source.unsplash.com/600x600/?fruits,vegetals);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	&__top {
		width: 100%;
		height: 75px;
		background: rgba(0, 0, 0, 0.43);
		padding: 10px;
		position: fixed;
		top: 0;
		left: 0;
		& h1 {
			font-family: "Amaranth", sans-serif;
			line-height: 1.5;
			font-weight: 500;
			font-size: $f1;
			margin-top: 0;
			text-align: left;
			float: left;
			width: auto;
			@media (max-width: 760px) {
				font-size: 22px;
				margin-top: 8px;
				margin-left: 10px;
			}
			@media (max-width: 560px) {
				font-size: 16px;
				margin-top: 8px;
				margin-left: 10px;
			}
		}
		&--mobile {
			display: none;
			font-size: 28px!important;
			margin-top: -5px;
			@media (max-width: 960px) {
				display: block;
			}
		}
		&--desktop {
			display: block;
			@media (max-width: 960px) {
				display: none!important;
			}
		}
	}
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	clear: both;
	overflow: auto;
	text-align: center;
	&__btn-view {
		width: auto;
		height: 45px;
		float: left;
		outline: 0px;
		&--grid {
			width: auto;
			background: greenyellow;
		}
		&--list {
			width: auto;
			background: green;
		}
		&--active {
			background: orangered;
		}
	}
	&__row {
		float: left;
		text-align: left;
		box-sizing: border-box;
		width: grid-width(12, false);
		&--first {
	    margin-top: 300px;
      margin-bottom: 10px;
		}
	}
	&__main {
		float: left;
		width: 100%;
    &--grid {
      margin-top: 20px;
      margin-bottom: 100px;
    }
    &--list {
      margin-bottom: 398px;
    }
  }

}

.wrapper-add {
	width: 70%;
	margin: 20px auto;
	z-index: 2;
	transition: 0.3s;
	@media (max-width: 960px) {
		text-align: center;
		width: 100%;
		padding: 0 10px;
	}
	&__input {
		width: 80%;
		float: left;
		margin-right: 15px;
    outline: 0px;
    @media (max-width: 760px) {
      width: 100%;
    }
	}
	&__btn {
    float: left;
    width: 40px;
    height: 40px;
    outline: 0px;
    background: #ff5908;
    color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
      background: #f14555;
    }
		@media (max-width: 1024px) {
			display: none;
		}
	}
	& input[type=text],
	select {
		padding: 12px 20px;
		margin: 0 15px 0 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 0;
		box-sizing: border-box;
		height: 40px;
	}
}

.wrapper-value {
	width: 150px;
	float: right;
	margin-right: 20px;
  margin-top: 0px;
  position: absolute;
    right: -10px;
	@media (max-width: 760px) {
		width: 120px;
		float: right;
		margin-right: 0;
		margin-top: 0px;
	}
}

.type-view {
	width: 30%;
	float: right;
	margin-right: 20px;
	margin-top: 0px;
	text-align: right;
	@media (max-width: 760px) {
		width: 100%;
		margin-top: 15px;
	}
	&__btn {
		float: right;
		width: 40px;
		height: 40px;
		margin-right: 15px;
		background: #fff;
		border: none;
		outline: 0px;
		&--active {
			border: solid 2px rgb(36, 36, 36);
		}
		&:nth-child(1) {
			margin-right: -12px;
		}
	}
}

.quantity {
	width: 50%;
	float: left;
	border-right: 1px #ccc dashed;
	&__description {
		display: block;
		font-size: 12px;
		;
	}
}

.total {
	width: 50%;
	float: left;
	&__description {
		display: block;
		font-size: 12px;
		;
	}
}

.card {
	background-color: #fff;
	overflow: hidden;
	margin: $gutter/2 $gutter/2;
	cursor: pointer;
	transition: all 0.3s ease;
	text-align: left;
	box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	//padding: 15px;
	position: relative;
	&--list {
		height: 90px;
    width: grid-width(9, false);
    margin: 10px auto;
		padding: 10px;
    box-sizing: border-box;
    @media (max-width: 999px) {
			width: grid-width(11, false);
		}
	}
	&--grid {
    height: 390px;
    float: left;
		width: grid-width(3, true);
		@media (max-width: 999px) {
			width: grid-width(6, true);
		}
		@media (max-width: 760px) {
			width: grid-width(12, true);
		}
	}
	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
	}
	&__title {
		font-size: $f5;
		font-weight: 700;
		line-height: 1.2;
		margin: 0;
		padding: 0;
		width: grid-width(12, true);
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		/* number of lines to show */
		-webkit-box-orient: vertical;
		float: left;
		&--list {
			float: left;
			width: grid-width(5, false);
			padding-top: 18px;
			@media (max-width: 760px) {
				float: left;
				width: 20%;
				padding-top: 18px;
				font-size: 16px;
				font-weight: normal;
				margin-top: 4px;
			}
		}
		&--grid {
			margin-top: 25px;
			float: unset!important;
			width: grid-width(10, true);
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__id {
		font-size: $f8;
		margin-top: 10px;
		margin-left: 10px;
		padding: 0;
		width: grid-width(12, false);
		&--list {
			position: absolute;
			top: 4px;
			left: 8%;
			width: auto;
			@media (max-width: 760px) {
				top: 4px;
				left: 0px;
			}
		}
		&--grid {
			width: 100%;
		}
	}
	&__image {
		width: grid-width(3, true);
		position: absolute;
		&--list {
			position: unset!important;
			width: grid-width(1, false);
			float: left;
			@media (max-width: 760px) {
				display: none;
			}
			& img {
				width: 65px;
				height: 65px;
				border-radius: 50%;
				overflow: hidden;
				margin: auto;
			}
		}
		&--grid {
			top: 27%;
			text-align: center;
			width: grid-width(12, true);
			& img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				overflow: hidden;
				margin: auto;
				border: solid 5px #f14555;
			}
		}
	}
	&__counter {
		position: absolute;
		/* top: 20%; */
		/* left: 59%; */
		color: white;
		/* background: rgba(255,255,255,0.65098); */
		width: 60px;
		border-radius: 50%;
		text-align: center;
		position: absolute;
		bottom: 15%;
		left: 0;
		color: #ff5908;
		/* background: rgba(220,22,22,0.65098); */
		width: 100%;
		/* border-radius: 50%; */
		text-align: center;
		padding: 20px;
		box-sizing: border-box;
		font-size: 38px;
		&--list {
			width: 70px;
			position: unset !important;
			float: left;
			margin-top: 0px;
			padding: 0;
		}
		&--grid {
			width: grid-width(12, true);
		}
	}
	&__btn-wrapper {
		float: left;
		&--list {
			width: 75px;
			position: unset !important;
			float: left;
			margin-top: 10px;
		}
		&--grid {
			width: 90%;
			position: absolute;
			bottom: 5%;
			left: 5%;
		}
	}
	&__btn {
		width: 50%;
		height: 40px;
		border: 1px solid #cdcdcd;
		background: white;
		overflow: hidden;
		text-align: center;
		float: left;
		color: #9a9a9a;
		box-sizing: border-box;
		&:nth-child(2) {
			border-left: none;
		}
		&:hover {
			background: red;
			color: #fff;
		}
		&--list {
			width: 36px;
			height: 36px;
			padding-top: 10px;
			font-size: 14px;
		}
		&--grid {
			width: 50%;
			padding-top: 7px;
			font-size: 18px;
		}
		&--delete-grid {
			width: auto!important;
			height: unset!important;
			border: unset!important;
			background: unset!important;
			overflow: unset!important;
			text-align: unset!important;
			float: unset!important;
			position: absolute;
			right: 10px;
			top: 10px;
			text-decoration: underline;
			font-size: 12px;
			color: #f74200;
			font-weight: 600;
			&:hover {
				background: unset;
				color: unset;
			}
		}
		&--delete-list {
			width: auto!important;
			height: unset!important;
			border: unset!important;
			background: unset!important;
			overflow: unset!important;
			text-align: unset!important;
			float: unset!important;
			position: absolute;
			right: 25px;
			top: 30px;
			text-decoration: underline;
			font-size: 12px;
			color: #f74200;
			font-weight: 600;
			&:hover {
				background: unset;
				color: unset;
			}
		}
	}
}

.footer {
	background-color: #000;
	float: left;
	margin: 0px!important;
	width: 100%!important;
	height: 50px !important;
	padding: $f9;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	text-align: center;
	position: fixed;
	bottom: 0;
	&--12 {
		width: grid-width(12, true);
	}
}

@keyframes progress {
	0% {
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		transform: translate3d(100%, 0, 0);
	}
}

