*,
 ::after,
 ::before {
	box-sizing: border-box;
}

$columns: 12;
$gutter: 15px;
@function grid-width($cols, $has-gutter:false) {
	@if $has-gutter {
		@return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});
	}
	@else {
		@return calc((100% / #{$columns}) * #{$cols});
	}
}

// Global Variables
$body-color: #edf3f8;
$brand-color: red;
$brand-background: #000000;
$default-color: rgba(102, 51, 255, 0.1);;
$primary-color: orange;
$secondary-color: gold;
$accent-color: yellow;
$light-color: lighten($default-color, 20%);
$dark-color: darken($default-color, 20%);
$warning-color: yellow;


// Cadenas de texto,con o sin comillas
$loading-message: 'Cargando...';
$thing: 'Fire Walk with me';

$font-stack: 'Open Sans', Helvetica, Sans-Serif;
$font-color: #000;
$color-link: #333;
$color-link-dark: #333;
$color-link-light: #333;
$f1: 36px;
$f2: 30px;
$f3: 24px;
$f4: 21px;
$f5: 18px;
$f6: 16px;
$f7: 13px;
$f8: 12px;
$f9: 10px;

$spacing: 30px;
$spacing-big: 30px;
$spacing-small: 30px;


$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;

/*
$large, $x-large or $super-large, everything smaller — $small, $extra-small, $xx-small etc.
*/
